In [34]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [35]:
df=pd.read_csv("HR.csv")
df

       satisfaction_level  last_evaluation  number_project  average_montly_hours  time_spend_company  Work_accident  left  promotion_last_5years Department  salary
0                    0.38             0.53               2                   157                   3              0     1                      0      sales     low
1                    0.80             0.86               5                   262                   6              0     1                      0      sales  medium
2                    0.11             0.88               7                   272                   4              0     1                      0      sales  medium
3                    0.72             0.87               5                   223                   5              0     1                      0      sales     low
4                    0.37             0.52               2                   159                   3              0     1                      0      sales     low
...                   ...              ...             ...                   ...                 ...            ...   ...                    ...        ...     ...
14994                0.40             0.57               2                   151                   3              0     1                      0    support     low
14995                0.37             0.48               2                   160                   3              0     1                      0    support     low
14996                0.37             0.53               2                   143                   3              0     1                      0    support     low
14997                0.11             0.96               6                   280                   4              0     1                      0    support     low
14998                0.37             0.52               2                   158                   3              0     1                      0    support     low

[14999 rows x 10 columns]

In [36]:
df.drop(columns=['Department'],inplace=True)

In [37]:
df

       satisfaction_level  last_evaluation  number_project  average_montly_hours  time_spend_company  Work_accident  left  promotion_last_5years  salary
0                    0.38             0.53               2                   157                   3              0     1                      0     low
1                    0.80             0.86               5                   262                   6              0     1                      0  medium
2                    0.11             0.88               7                   272                   4              0     1                      0  medium
3                    0.72             0.87               5                   223                   5              0     1                      0     low
4                    0.37             0.52               2                   159                   3              0     1                      0     low
...                   ...              ...             ...                   ...                 ...            ...   ...                    ...     ...
14994                0.40             0.57               2                   151                   3              0     1                      0     low
14995                0.37             0.48               2                   160                   3              0     1                      0     low
14996                0.37             0.53               2                   143                   3              0     1                      0     low
14997                0.11             0.96               6                   280                   4              0     1                      0     low
14998                0.37             0.52               2                   158                   3              0     1                      0     low

[14999 rows x 9 columns]

In [38]:
encoder=OrdinalEncoder(categories=[['low','medium','high']])
df['salary']=encoder.fit_transform(df[['salary']])

In [39]:
df

       satisfaction_level  last_evaluation  number_project  average_montly_hours  time_spend_company  Work_accident  left  promotion_last_5years  salary
0                    0.38             0.53               2                   157                   3              0     1                      0     0.0
1                    0.80             0.86               5                   262                   6              0     1                      0     1.0
2                    0.11             0.88               7                   272                   4              0     1                      0     1.0
3                    0.72             0.87               5                   223                   5              0     1                      0     0.0
4                    0.37             0.52               2                   159                   3              0     1                      0     0.0
...                   ...              ...             ...                   ...                 ...            ...   ...                    ...     ...
14994                0.40             0.57               2                   151                   3              0     1                      0     0.0
14995                0.37             0.48               2                   160                   3              0     1                      0     0.0
14996                0.37             0.53               2                   143                   3              0     1                      0     0.0
14997                0.11             0.96               6                   280                   4              0     1                      0     0.0
14998                0.37             0.52               2                   158                   3              0     1                      0     0.0

[14999 rows x 9 columns]

# Using Gradient Boosting Classifier Algorithm

In [40]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['left']),df['left'],test_size=0.25,shuffle=True,random_state=32)

In [41]:
x_train

       satisfaction_level  last_evaluation  number_project  average_montly_hours  time_spend_company  Work_accident  promotion_last_5years  salary
5471                 0.86             0.92               3                   180                   2              0                      0     1.0
9986                 0.55             0.84               4                   200                   4              0                      0     0.0
13471                0.74             0.60               4                   274                  10              1                      0     1.0
493                  0.10             0.94               6                   309                   4              0                      0     1.0
7310                 0.83             0.91               4                   210                   4              0                      0     0.0
...                   ...              ...             ...                   ...                 ...            ...                    ...     ...
4030                 0.64             0.51               4                   207                   2              0                      0     0.0
11132                0.43             0.74               4                   129                   6              0                      0     1.0
9526                 0.45             0.87               2                   268                   4              1                      0     0.0
9771                 0.63             0.52               5                   226                   4              0                      0     1.0
10967                0.20             0.99               5                   151                   3              1                      0     0.0

[11249 rows x 8 columns]

In [42]:
x_test

       satisfaction_level  last_evaluation  number_project  average_montly_hours  time_spend_company  Work_accident  promotion_last_5years  salary
10759                0.58             0.77               4                   140                   3              0                      0     0.0
8888                 0.93             0.52               3                   229                   2              1                      0     1.0
6185                 0.74             0.75               4                   257                   3              0                      0     0.0
3003                 0.75             0.66               5                   177                   2              0                      0     0.0
14254                0.10             0.80               7                   281                   4              0                      0     0.0
...                   ...              ...             ...                   ...                 ...            ...                    ...     ...
13523                0.80             0.96               3                   161                   3              0                      0     0.0
12463                0.80             0.85               4                   273                   5              0                      0     0.0
11512                0.59             0.92               3                   203                  10              0                      0     1.0
13962                0.99             0.92               4                   265                   4              1                      0     1.0
1527                 0.38             0.55               2                   131                   3              0                      0     0.0

[3750 rows x 8 columns]

In [43]:
y_train

5471     0
9986     0
13471    0
493      1
7310     0
        ..
4030     0
11132    0
9526     0
9771     0
10967    0
Name: left, Length: 11249, dtype: int64

In [44]:
y_test

10759    0
8888     0
6185     0
3003     0
14254    1
        ..
13523    0
12463    1
11512    0
13962    0
1527     1
Name: left, Length: 3750, dtype: int64

In [49]:
gb=GradientBoostingClassifier(learning_rate=0.01,max_leaf_nodes=10,n_estimators=400,random_state=42,verbose=True)
start_gb=time.time()
gb.fit(x_train,y_train)
end_gb=time.time()

      Iter       Train Loss   Remaining Time
         1           1.0902            9.41s
         2           1.0752           10.24s
         3           1.0607           11.04s
         4           1.0467           10.73s
         5           1.0330           10.18s
         6           1.0198            9.73s
         7           1.0069            9.14s
         8           0.9944            8.67s
         9           0.9822            8.30s
        10           0.9704            7.99s
        20           0.8666            6.83s
        30           0.7831            6.15s
        40           0.7142            5.87s
        50           0.6565            5.57s
        60           0.6074            5.40s
        70           0.5650            5.17s
        80           0.5282            4.97s
        90           0.4962            4.78s
       100           0.4681            4.62s
       200           0.3296            2.99s
       300           0.2792            1.56s
       400           0.2530            0.00s

In [46]:
from sklearn.metrics import accuracy_score
y_pred=gb.predict(x_test)

print('The Accuracy Score is =',accuracy_score(y_test,y_pred))

The Accuracy Score is = 0.9741333333333333

In [53]:
from xgboost import XGBClassifier
import time 
xgb=XGBClassifier(learning_rate=0.01,max_leaves=10,n_estimators=400,random_state=42)
start_xgb=time.time()
xgb.fit(x_train,y_train)
end_xgb=time.time()

In [55]:
xgb

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=0.01, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=10, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=400,
              n_jobs=None, num_parallel_tree=None, ...)

In [58]:
print(end_gb-start_gb,end_xgb-start_xgb,sep=',')

6.211007118225098,0.6341276168823242

In [59]:
print(accuracy_score(xgb.predict(x_test),y_test))

0.9770666666666666